.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #2b6cb0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}