.navbar {
  background-color: #2b6cb0;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
}
