.detalhes {
  text-align: center;
  padding: 30px;
}

.detalhes-banner {
  max-width: 800px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.descricao {
  max-width: 700px;
  margin: 0 auto 20px;
  text-align: justify;
  color: #444;
}
