.home {
  text-align: center;
  padding: 50px;
}

.home-logo {
  width: 180px;
  margin-bottom: 20px;
}

.home h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.home p {
  color: #444;
  max-width: 500px;
  margin: 0 auto;
}
